<div class="dashboard">
  <div class="leftpane">

    <div class="panel panel-danger mg-20 mg-b-10">
      <div class="panel-heading">
        <h3 class="panel-title">Critical Issues</h3>
      </div>
      <div class="panel-body">
        Critical issues are pending resolution. <a href="#" class="btn pull-right btn-danger btn-xs">Resolve <i class="glyphicon glyphicon-chevron-right "></i></a>
      </div>
    </div>

    <div class="panel panel-warning mg-20">
      <div class="panel-heading">
        <h3 class="panel-title">Overdue Tasks</h3>
      </div>
      <div class="panel-body">
        Tasks from previous days are still pending. <a href="#" class="btn pull-right btn-warning btn-xs">Resolve<i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>

    <div class="mg-20">
      <h4>Today</h4>
      <hr />
      <div class="items">
        <div class="item unavailable">
          <div class="pull-right small"><span class="hours ">12AM - 6AM</span> <span class="mg-l-10 count">(6 hours)</span></div>
          Unavaiable (Sleep)
        </div>
        <div class="item">
          <div class="pull-right small"><span class="hours ">6AM - 7AM</span> <span class="mg-l-10 count">(1 hour)</span></div>
          <div class="form-item"><input type="checkbox" class="mg-r-10" value=""> </div>
          <div class="form-content"><a href="#">Morning Routine</a>
            <a href="#" class="small project">Errands</a>
          </div>
        </div>
        <div class="item">
          <div class="pull-right small"><span class="hours ">6AM - 7AM</span> <span class="mg-l-10 count">(1 hour)</span></div>
          <div class="form-item"><input type="checkbox" class="mg-r-10" value=""> </div>
          <div class="form-content">
            <a href="#">Journal</a>
            <a href="#" class="small project">Learning Dutch</a>
          </div>
        </div>
        <div class="item unavailable">
          <div class="pull-right small"><span class="hours ">9:00AM - 6:00PM</span> <span class="mg-l-10 count">(8.5 hours)</span></div> Unavaiable (Work)
        </div>
        <div class="item">

          <div class="pull-right small"><span class="hours ">6:00PM - 7:00PM</span> <span class="mg-l-10 count">(1 hour)</span></div>
          <div class="form-item"><input type="checkbox" class="mg-r-10"></div>
          <div class="form-content">
            <a href="#">Dutch Classes</a>
            <a href="#" class="small project">Learning Dutch</a>
          </div>
        </div>
        <div class="item unavailable">
          <div class="pull-right small"><span class="hours ">7:00PM - 7:15PM</span> <span class="mg-l-10 count">(15 min)</span></div>
          <div class="form-item"></div>
          <div class="form-content"><a href="#">Unavailable (break)</a></div>
        </div>
        <div class="item">
          <div class="pull-right small"><span class="hours ">7:15PM - 8:00PM</span> <span class="mg-l-10 count">(1 hour)</span></div>
          <div class="form-item"><input type="checkbox" class="mg-r-10" value=""> </div>
          <div class="form-content"><a href="#">Kernel Feature Implementation</a>
            <a href="#" class="small project">Kernel</a></div>
        </div>
        <div class="item unavailable">
          <div class="pull-right small"><span class="hours ">8:00PM - 9:00PM</span> <span class="mg-l-10 count">(1 hour)</span></div>
          <div class="form-item"></div>
          <div class="form-content">Unavailable (Leisure)</div>
        </div>
      </div>
      <div class="mg-10">
        <a href="#" style="display: block" class="mg-t-20 mg-b-10">Completed <small>&#9660;</small></a>
        <div class="done">
          <div class="items">
            <div class="item">
              <div class="pull-right small"><span class="hours ">7:00PM - 8:00PM</span> <span class="mg-l-10 count">(1 hour)</span></div>
              <div class="form-item"><input type="checkbox" class="mg-r-10" checked value=""> </div>
              <div class="form-content"><a href="#">Implement priority page</a>
                <a href="#" class="small project">Kernel</a></div>
            </div>
            <div class="item">
              <div class="pull-right small"><span class="hours ">8:00PM - 9:00PM</span> <span class="mg-l-10 count">(43 min)</span></div>
              <div class="form-item"><input type="checkbox" class="mg-r-10" checked value=""> </div>
              <div class="form-content"><a href="#">Implement dashboard page</a>
                <a href="#" class="small project">Kernel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4>Tomorrow</h4>
      <hr />
      <h4>16 May</h4>
      <hr />
      <h4>17 May</h4>
      <hr />
      <h4>18 May</h4>
      <hr />
      <h4>19 May</h4>
      <hr />
      <h4>20 May</h4>
      <hr />
    </div>
  </div>
  <div class="rightpane">
  </div>
</div>
